<%= form_for @power do |f| %>
  <h3><%= f.label :name %></h3>
  <%= f.text_field :name %><br><br>
  <h3><%= f.label :description %></h3>
  <%= f.text_area :description %><br><br><br>
  <%= f.submit %>

<% end %>
