<!-- <h1>Create Power</h1>

<%= form_for @power do |f| %>
  <br>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>

  <br>
  <%= f.submit %>

<% end %> -->
