<h2>This power</h2>

Name: <%= @power.name %><br>
Description: <%= @power.description %><br><br>

<!-- Added edit and delete for extra praction -->
<!-- # <%= link_to "edit this power", edit_power_path %><br>
# <%= link_to "delete this power", power_path, method: "delete" %><br> -->
<%= link_to "go back to all powers", powers_path %>
