<h3><%= @power.name.capitalize %></h3>
Description: <%= @power.description.capitalize %></br>
<h3>Heroines with Power:</h3>
<% @power.heroines.each do |heroine| %>
<%= link_to heroine.name, heroine_path(heroine) %> |
<% end %>
</br>
</br>
<%= link_to "View All Powers", powers_path %> |
<%= link_to "View All Heroines", heroines_path %>
</br>
</br>
<%= link_to "Edit Power", edit_power_path %> |
<%= link_to "Delete Power", @power, method: :delete, data: {confirm: "Are you sure?"} %>
