<h1>Power Show Page</h1>

<p>Name: <%= @power.name %></p>
<p>Description: <%= @power.description %></p>

<!-- <p><%= link_to "Edit", edit_power_path %></p>
<p><%= link_to "Delete", power_path, method: :delete %></p>
<p><%= link_to "Cancel", powers_path %></p> -->
