<h1>Power Page</h1>
<h2> Name: <%= @power.name %></h2>
<h2> Description: <%= @power.description%></h2>

<!-- # <%= link_to "home", powers_path %> |
# <%= link_to "edit", edit_power_path(@power) %> |
# <%= link_to "new", new_power_path(@power) %> |
# <%= link_to "delete", power_path(@power), method: :delete %> -->
