<h1> EDIT A HEROINE </h1>

<ul>
<%= form_for @heroine do |f| %>
  <li>Name: <%= f.text_field :name %></li>
  <li>Super-Name: <%= f.text_field :super_name %></li>
  <li>Power: <%= f.number_field :power_id %></li>
  <%= f.submit "Edit Heroine"  %></li>
<% end %>
</ul>
