<h2>All Heroines</h2>

<!-- <%= form_tag(heroines_path, method: :get) do %>
  <%= label_tag(:search, "Search By Superpower:") %>
  <%= text_field_tag(:power, params[:power]) %>
  <%= submit_tag("Search") %>
<% end %> -->

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to 'Create a Heroine', new_heroine_path %>
