<h2>All Heroines</h2>


<%= form_tag( heroines_path, method: "get") do %>
  <%= label_tag(:power_id) %>
  <%= text_field_tag(:power_name) %>
  <%= submit_tag("Search") %>
<% end %>


<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "Make New Heroine", new_heroine_path %>
