<h2>All Heroines</h2><br>
<!-- Search by Power:<br>
<%= form_tag(heroines_path, method: :get) do %>
  Superpower <%= select_tag :power_id, options_from_collection_for_select(Power.all, :id, :name)%>
  <%= submit_tag 'Search', name: nil %>
<% end %><br> -->
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul><br><br>

<b> <%= link_to "Create a new Superheroine", new_heroine_path %> </b>
