<h2><%= @heroine.super_name %></h2>
<b>Name:</b> <%= @heroine.name %><br>
<b>Power:</b> <%= link_to @heroine.power.name.capitalize, @heroine.power %>
<br><br><br>

<%= button_to "âš¡ï¸DESTROYâš¡ï¸", @heroine, :method => :delete %>

<%= link_to "Edit this heroine ðŸ•¹", edit_heroine_path %><br>
<%= link_to "ðŸŒž Display all heroines ðŸŒž", heroines_path %>
