<h1>Heroine Show Page</h1>

<p>Name: <%= @heroine.name %></p>
<p>Super Name: <%= @heroine.super_name %></p>
<p>Power: <%= link_to @heroine.power.name, @heroine.power %></p><br><br>

<!-- <p><%= link_to "Edit", edit_heroine_path %></p>
<p><%= link_to "Delete", heroine_path, method: :delete %></p>
<p><%= link_to "Cancel", heroines_path %></p> -->
