<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", '/' %> | <%= link_to "Heroines", heroines_path %> | <%= link_to "Powers", powers_path %>
    </nav>
    <br><br>

    <%= yield %>
  </body>
</html>
